[submodule "deelearning.ai-tensorflow"]
	path = deelearning.ai-tensorflow
	url = git@github.com:dinhanhthi/deelearning.ai-tensorflow.git
[submodule "deeplearning.ai-Deep-Learning"]
	path = deeplearning.ai-Deep-Learning
	url = git@github.com:dinhanhthi/deeplearning.ai-Deep-Learning.git
